body{font-family: 'Lato', sans-serif;}

/* ************************************ SERVICES GRATUITS AUX MEMBRES ****************************************/

/* FOR DEVELOPMENT ONLY PLZ DELETE ME ! */
/*.green{border: 1px solid green;}
.red{border: 1px solid red;}
.blue{border: 1px solid blue;}
.coral{background: coral;}*/
/* FOR DEVELOPMENT ONLY PLZ DELETE ME ! */

.no-padding{padding: 0px;}
.no-margin{margin: 0px;}

.visible-mobile{display: none!important; visibility: hidden!important;}
.hidden-mobile{display: block!important; visibility: visible!important;}

.top-bar-section{
    color: white;
    text-align: center;
    padding: 34px 0px;
    font-size: 2.1em;
	font-weight: 400;
    margin-bottom: 60px;
	text-transform: uppercase;
}

.gala-categories{
    background-color: #4b565f;
}

.section-categories{
	border: 4px solid #f5f7f8;
    padding: 10px 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f7f9+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,247,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f7f9',GradientType=0 ); /* IE6-9 */
}

.title-gala-categories h3{
    color: #ed3c44;
    text-align: center;
	text-transform: uppercase;
    font-size: 3.2em;
	font-weight: 100;
    margin: 0px 0px 60px 0px;
}

.info-categories{
    border-bottom: 1px solid #e1e1e2;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.info-categories h2{
    color: #ed3c44;
    text-align: left;
	text-transform: uppercase;
    font-size: 2.3em;
	font-weight: 400;
    margin: 25px 0px 10px 0px;
}

.info-categories h3{
    color: #ed3c44;
    text-align: left;
	text-transform: uppercase;
    font-size: 1.3em;
	font-weight: 300;
    margin: 0px 0px 10px 0px;
}

/**** LEFT PART ****/
.bloc-left-part{
    margin-top: 4px;
    padding: 0px 30px 30px 0px;
}

.bloc-left-part h4{
    color: #2f3438;
    text-align: left;
    font-size: 1.2em;
	font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.bloc-left-part p{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin-bottom: 40px;
}

/**** RIGHT PART ****/
.bloc-right-part{
    margin-top: 4px;
    padding: 0px 0px 30px 29px;
    border-left: 1px solid #e1e1e2;    
}

.bloc-right-part h4{
    color: #2f3438;
    text-align: left;
    font-size: 1.2em;
	font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.bloc-right-part p{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin-bottom: 40px;
}

p.ul-minus-margin-bottom{
    margin-bottom: 20px;
}

.bloc-right-part li{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin: 4px 0px;
}

.bloc-right-part ul{
    margin-bottom: 40px;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

                                    /*** MEDIAS QUERIES ***/

/****************************************************************************************************/
/*************************************** XS-SMALL device ********************************************/
/****************************************************************************************************/

/* XS-SMALL device */
@media screen and (min-width: 385px) and (max-width: 480px){

.visible-mobile{display: block!important; visibility: visible!important;}
.hidden-mobile{display: none!important; visibility: hidden!important;}

/* FOR DEVELOPMENT ONLY PLZ DELETE ME ! */
/*body{border: 2px solid blue;}*/

.top-bar-section{
    font-size: 20px;
    margin-bottom: 40px;
}

.section-categories{
	border: 0px solid #f5f7f8;
    border-top: 4px solid #f5f7f8;
}

.title-gala-categories h3{
    font-size: 3em;
    margin: 0px 0px 40px 0px;
}

.info-categories{
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.info-categories h2{
    color: #ed3c44;
    text-align: center;
	text-transform: uppercase;
    font-size: 2em;
	font-weight: 400;
    margin: 30px 0px 10px 0px;
}

.info-categories h3{
    font-size: 1em;
    text-align: center;
    padding: 0px 30px;
    margin: 0px 0px 10px 0px;
}

/**** LEFT PART ****/
.bloc-left-part{
    margin-top: 4px;
    padding: 0px 0px 30px 0px;
}

.bloc-left-part h4{
    color: #2f3438;
    text-align: left;
    font-size: 1.2em;
	font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.bloc-left-part p{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin-bottom: 40px;
}

/**** RIGHT PART ****/
.bloc-right-part{
    margin-top: 4px;
    padding: 0px 0px 30px 0px;
    border-left: 0px solid #e1e1e2;  
}

.bloc-right-part h4{
    color: #2f3438;
    text-align: left;
    font-size: 1.2em;
	font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.bloc-right-part p{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin-bottom: 40px;
}

p.ul-minus-margin-bottom{
    margin-bottom: 20px;
}

}/* END - XS-SMALL device */

/****************************************************************************************************/
/*************************************** SM-SMALL device ********************************************/
/****************************************************************************************************/

/* SM-SMALL device */
@media screen and (min-width: 481px) and (max-width: 768px){

.visible-mobile{display: block!important; visibility: visible!important;}
.hidden-mobile{display: none!important; visibility: hidden!important;}

/* FOR DEVELOPMENT ONLY PLZ DELETE ME ! */
/*body{border: 2px solid red;}*/

.top-bar-section{
    font-size: 20px;
    margin-bottom: 40px;
}

.section-categories{
	border: 0px solid #f5f7f8;
    border-top: 4px solid #f5f7f8;
}

.title-gala-categories h3{
    font-size: 3em;
    margin: 0px 0px 40px 0px;
}

.info-categories{
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.info-categories h2{
    color: #ed3c44;
    text-align: center;
	text-transform: uppercase;
    font-size: 2em;
	font-weight: 400;
    margin: 30px 0px 10px 0px;
}

.info-categories h3{
    font-size: 1em;
    text-align: center;
    padding: 0px 30px;
    margin: 0px 0px 10px 0px;
}

/**** LEFT PART ****/
.bloc-left-part{
    margin-top: 4px;
    padding: 0px 0px 30px 0px;
}

.bloc-left-part h4{
    color: #2f3438;
    text-align: left;
    font-size: 1.2em;
	font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.bloc-left-part p{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin-bottom: 40px;
}

/**** RIGHT PART ****/
.bloc-right-part{
    margin-top: 4px;
    padding: 0px 0px 30px 0px;
    border-left: 0px solid #e1e1e2;  
}

.bloc-right-part h4{
    color: #2f3438;
    text-align: left;
    font-size: 1.2em;
	font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.bloc-right-part p{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin-bottom: 40px;
}

p.ul-minus-margin-bottom{
    margin-bottom: 20px;
}

}/* END - SM-SMALL device */

/*****************************************************************************************************/
/*************************************** MD-MEDIUM device ********************************************/
/*****************************************************************************************************/

/* MD-MEDIUM device */
@media screen and (min-width: 769px) and (max-width: 980px){

.visible-mobile{display: block!important; visibility: visible!important;}
.hidden-mobile{display: none!important; visibility: hidden!important;}

/* FOR DEVELOPMENT ONLY PLZ DELETE ME ! */
/*body{border: 2px solid green;}*/

.top-bar-section{
    font-size: 20px;
    margin-bottom: 40px;
}

.section-categories{
	border: 0px solid #f5f7f8;
    border-top: 4px solid #f5f7f8;
}

.title-gala-categories h3{
    font-size: 3em;
    margin: 0px 0px 40px 0px;
}

.info-categories{
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.info-categories h2{
    color: #ed3c44;
    text-align: center;
	text-transform: uppercase;
    font-size: 2em;
	font-weight: 400;
    margin: 30px 0px 10px 0px;
}

.info-categories h3{
    font-size: 1em;
    text-align: center;
    padding: 0px 30px;
    margin: 0px 0px 10px 0px;
}

/**** LEFT PART ****/
.bloc-left-part{
    margin-top: 4px;
    padding: 0px 0px 30px 0px;
}

.bloc-left-part h4{
    color: #2f3438;
    text-align: left;
    font-size: 1.2em;
	font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.bloc-left-part p{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin-bottom: 40px;
}

/**** RIGHT PART ****/
.bloc-right-part{
    margin-top: 4px;
    padding: 0px 0px 30px 0px;
    border-left: 0px solid #e1e1e2;  
}

.bloc-right-part h4{
    color: #2f3438;
    text-align: left;
    font-size: 1.2em;
	font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.bloc-right-part p{
    color: #7b8998;
    text-align: left;
    font-size: 1em;
	font-weight: 300;
    margin-bottom: 40px;
}

p.ul-minus-margin-bottom{
    margin-bottom: 20px;
}

}/* END - MD-MEDIUM device */

/****************************************************************************************************/
/*************************************** LG-SMALL device ********************************************/
/****************************************************************************************************/

/* LG-SMALL device */
@media screen and (min-width: 981px) and (max-width: 1200px){

.visible-desktop{display: block!important; visibility: visible!important;}
.hidden-desktop{display: none!important; visibility: hidden!important;}

}/* END - LG-SMALL device */